<p>view-plant works!</p>

<h2 style="color: brown; font-style: italic;">{{plantName}} </h2>
<table>
    <tr>
        <td>
        <!-- <td *ngFor="let p of allPlanters"> -->
            <div><img src="/assets/images/Title.jpeg"></div>
            
            <div> <i>price:- </i> {{price}} </div>
            <div><i>height:- </i>{{height}}</div>
            <div><i>plantName:- </i>{{plantName}}</div>
            
            <!-- <div><i>Capacity:- </i>{{p.planterCapacity}}</div><br /> -->
            <hr>
        </td>
        
    </tr>
</table>
